html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*
font-family: "Crimson Text", serif;
*/

article h1 {
  font-family: "Crimson Text", serif;
  font-size: 1.5rem;
  color: #222;
  font-style: normal;
  margin: 0;
  padding-bottom: .0001rem;
  padding-top: 1.25rem;
  font-weight: normal;
}

article header p {
  font-family: "Crimson Text", serif;
  font-style: italic;
  margin: 0;
  padding-bottom: .75rem;
}

article p {
  font-family: "Crimson Text", serif;
  color: #222;
  line-height: 1.3;
  padding: 0 .15rem;
  padding-top: .0005rem;
}

blockquote {
  line-height: 1.3;
  font-size: 1.125rem;
}

blockquote p {
  color: #555;
}

article ol {
  color: #222;
  padding-left: 1em;
}

article {
  margin-bottom: 1rem;
  border-bottom: .5px solid #999;
}

article header {
  margin-bottom: 1.5rem;
  border-bottom: .5px solid #999;
  padding-bottom: .5rem;
}

body {
  margin: 0;
  padding: 0 .75rem;
}

.quote {
  color: #999;
}
